# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyTorch model files
*.pt
*.pth

# PyTorch Lightning logs and checkpoints
lightning_logs/
checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor / IDE-specific
.vscode/
.idea/
*.swp
*~

# Testing artifacts
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
.cache/
nosetests.xml
coverage.xml
*.log

# Mac OS
.DS_Store

# Backup files
*.bak
*.tmp

# Temporary files
*.temp
*.tmp

# PyTorch Ignite
ignite_checkpoints/

# Logs
*.log
*.out

# TensorBoard
runs/

# HDF5 files
*.h5

# Other data files
*.csv
*.tsv

# Custom debug files
debug.log
